In [1]:
#LISTS
    # Represented using Square brackets
    #Mutable: Can change the list
    #Can include mixed types like tuples
    #Allow duplicate elements

In [2]:
L=["Michael",2,3,5,6,3]#This list has elements of type integer and string
L

['Michael', 2, 3, 5, 6, 3]

In [3]:
L[2]#Accessing a list element

3

In [4]:
#Access the elements from index position 1 to 3
L[1:4]

[2, 3, 5]

In [5]:
#Extend: Add elements the existing list 
L.extend([6,7,8])
L

['Michael', 2, 3, 5, 6, 3, 6, 7, 8]

In [6]:
#Append: Append an element to the existing list-making it a nested list
L.append([9,10])
L

['Michael', 2, 3, 5, 6, 3, 6, 7, 8, [9, 10]]

In [7]:
#Update List
L[1]="Jackson" 
L

['Michael', 'Jackson', 3, 5, 6, 3, 6, 7, 8, [9, 10]]

In [8]:
#Delete from list
del(L[0])
L

['Jackson', 3, 5, 6, 3, 6, 7, 8, [9, 10]]

In [9]:
#Splitting a string to a list
"Hello, My name is Jitha, and Iam studying, Python".split(",")# Split at ,

['Hello', ' My name is Jitha', ' and Iam studying', ' Python']

In [10]:
#Aliasing. 
M=L # M and L refers to the same memory location
print(*M)#print M without loop

Jackson 3 5 6 3 6 7 8 [9, 10]

In [12]:
M[1]="Michael" #As both list refer to same location changing one will change the other too
print(M)
print(L)

['Jackson', 'Michael', 5, 6, 3, 6, 7, 8, [9, 10]]
['Jackson', 'Michael', 5, 6, 3, 6, 7, 8, [9, 10]]

In [13]:
L[0]="Michael" #As both list refer to same location changing one will change the other two
M[1]="Jackson"
print(M)
print(L)

['Michael', 'Jackson', 5, 6, 3, 6, 7, 8, [9, 10]]
['Michael', 'Jackson', 5, 6, 3, 6, 7, 8, [9, 10]]

In [14]:
#CLONING
    #Create a clone of the list. Clone create a copy
    #Refer to a different memory location
N=L[:]# N is a clone of list L
N

['Michael', 'Jackson', 5, 6, 3, 6, 7, 8, [9, 10]]

In [15]:
N[0]="Mike"# Update the clone
print(N) # Now only the clone is modified
print(M)

['Mike', 'Jackson', 5, 6, 3, 6, 7, 8, [9, 10]]
['Michael', 'Jackson', 5, 6, 3, 6, 7, 8, [9, 10]]

In [17]:
N[-1]#Accessing the last element using negative index

[9, 10]

In [18]:
N[-2]#Accessing second last element

8