In [1]:
#SETS
    # Represented using Curly {} braces
    #Like tuples and lists, sets can have have different python types
    #Unordered: Do not record element position
    #Unique elements: No duplicate items

In [2]:
set1={1,3,2,5,2,5,6,7} # Even duplicates are there, only unique values are added to the actual set.
set1

{1, 2, 3, 5, 6, 7}

In [3]:
#Typecasting list to a set. Duplicates will be eliminated
Fruit_list=["Apple","Orange","Grapes","Apricot","Apple"]#List
Fruit_set=set(Fruit_list)#Typecast list to set
Fruit_set

{'Apple', 'Apricot', 'Grapes', 'Orange'}

In [4]:
#Adding an item to the set
Fruit_set.add("Blueberry")
Fruit_set

{'Apple', 'Apricot', 'Blueberry', 'Grapes', 'Orange'}

In [5]:
#Adding a duplicate item will not change the set
Fruit_set.add("Apricot")
Fruit_set

{'Apple', 'Apricot', 'Blueberry', 'Grapes', 'Orange'}

In [6]:
#Remove an item from the set
Fruit_set.remove("Apricot") 
Fruit_set

{'Apple', 'Blueberry', 'Grapes', 'Orange'}

In [7]:
#Verify the presence of an item in the set.
    #Returns True if item is present
'Apple' in Fruit_set

True

In [8]:
#Verify the presence of an item in the set.
    #Returns False if item is not present
'Blackberry' in Fruit_set

False

In [9]:
#INTERSECTION of two sets
    # Use & operater
set1= {1,2,3,"Mike"}
set2={3,"John","Mike"}
set3=set1&set2
set3

{3, 'Mike'}

In [10]:
#UNION of two sets
    
set1= {1,2,3,"Mike"}
set2={3,"John","Mike"}
set4=set1.union(set2)
set4

{1, 2, 3, 'John', 'Mike'}